


/*------------------------------------------estilo para form-------------------------------------------*/

.cursor {
    cursor: pointer;
}

.animacion2 {
    width: 80%;
}

.usuario {
    width: 70%;
}

label{
    font-weight: bolder;
}

/*para registrate y olvidar contrasena*/
a {
    font-weight: bolder;
    color: #0063be;
    text-decoration: none;
}

/* casilla de usuario y contrasena*/
a:hover {
    color: #0063be;
    text-decoration: underline;
}

/*boton de recuerdame*/
input:checked {
    background-color: #0063be !important;
}

input,
select {
    cursor: pointer;
}

/*estilo que permite mostrar los campos validados con un borde de color rojo*/
.error {
    border: red solid 1px;
}

/*boton de inciar sesion*/
.btninicio {
    color: #fff;
    background-color: #0063be !important;
    font-size: 20px;
    width: 100%;
    border: none; /* Remover border */
    padding: 10px; 
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}


/*olvidar contrasena*/
#forgot-pass {
    font-weight: bold;
    text-align: end;
    font-size: 12px;
}

@media (max-width:575px) {
    .animacion1 {
        width: 80% !important;
        margin: 0 auto !important;
        display: block !important;
    }
    .animacion2 {
        width: 100% !important;
    }
}

.container{
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 40px;
    margin-top: 40px;
    border-radius: 50px;
    background-color: #bebebe;
}


/*------------------------------------------termina estilo para form-------------------------------------------*/

