p {
    text-align: justify;
}

.resultado {
    width: 500px;
    height: 250px;
    /*text-align: center;
    display: block;*/
}

.formato1 {
    font-size: 20px;
    text-align: left;
}
/*apariencia del control SELECT*/

select {
    color: black;
    background-color: beige;
    font-size: 20px;
    border: 2px solid black;
    padding: 8px 10px;
}
/*apariencia de los textos que estan dentro del SELECT*/

option {
    background-color: #e4e4e4;
    font-size: 20px;
    color: #000;
}

@media (max-width: 576px) {
    #resultado {
        /*por mostrar la imagen usando style backgroundImage se deben usar estas instrucciones*/
        background-position: center center !important;
        background-size: 80% !important;
        background-repeat: no-repeat !important;
    }
}



.info{
    padding: 100px 50px 80px 60px;
    margin-top: 73px;
    background-color: transparent;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 1000px rgba(241, 233, 233, 0.8);
}

h3{
    letter-spacing: 2px;
    font-family: 'Hurricane', cursive;
    padding-top: 20px;
    font-size: 70px;
    color: rgb(77, 128, 107);
}
.encuesta{
    margin-top: 50px;
    margin-bottom: 60px;
}
.colorLabel{
    color: rgb(177, 71, 22);
}
.checkbox{
    margin-left: 10px;
}
.inputs{
    padding: 20px;
} 
.checks{
    padding: 20px;
}
.radios{
    padding: 20px;
}
.botonEnviar{
    margin-top: 50px;
    text-align: center;
}
.boton{
    padding: 10px 30px;
    border: none;
    background-color: rgb(77, 128, 107);
    color: white;
    border-radius: 3px;
}
.Resultados{
    margin-top: 50px;
    text-align: center;
}
p{
    font-size: 17px;
}





/************ TESTIMONIAL  ***************/

.testimonials.owl-carousel .owl-item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}


/*flechas*/

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    font-size: 80px;
    color: #fff;
}

.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: transparent;
    color: #fff;
}

.owl-carousel .owl-nav button.owl-next:hover {
    background-color: transparent;
    color: #fff;
}

.item {
    background: #00469b;
    border: 1px solid #eee;
    border-color: #000;
    border-radius: 12px;
    padding: 15px;
    /*cursores web: https://www.w3schools.com/cssref/pr_class_cursor.asp*/
    /*permite mover los recuadros*/
    cursor: move;
}

.item h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin: 15px 0;
    line-height: 1.3;
    color: yellowgreen;
}

.item p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    /* margin-bottom: 10px;*/
    line-height: 1.3;
    color: #fff;
}

/*contendor principal de testimonio*/
.testimonials_container {
    display: flex;
    /*padding: 16px;*/
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.owl-item {
    text-align: center;
}