/*=====================================banner======================= */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/Arena.jpg) no-repeat;
    background-size: cover;
}

.container{
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(10px);
}
/*=====================================banner======================= */

/*============================================================ */

/* Estilo para los campos de usuario y contraseña */
.form-control {
    border: none; /* Elimina el borde por defecto */
    border-bottom: 2px solid #ccc; /* Añade una línea inferior */
    border-radius: 0; /* Elimina los bordes redondeados */
    background-color: transparent; /* Fondo transparente */
    box-shadow: none; /* Sin sombra */
    padding: 8px 0; /* Espaciado interno */
    transition: border-color 0.3s ease; /* Transición suave para el cambio de color de borde */
    font-size: 16px; /* Tamaño de fuente */
    color: white; /* Color del texto */
}

/* Estilo para el texto de las etiquetas */
.form-label {
    font-size: 20px; /* Tamaño de fuente */
    color: beige; /* Color del texto */
    margin-bottom: 5px; /* Margen inferior */
    display: block; /* Mostrar como bloque para separar verticalmente */
}

/* Estilo para el borde inferior en foco */
.form-control:focus {
    outline: none; /* Elimina el contorno de enfoque */
    border-color: #4CAF50; /* Cambia el color de la línea inferior al enfocar */
    box-shadow: 0 -2px 0 #4CAF50; /* Agrega una sombra en el borde inferior al enfocar */
}

/* Estilo para el borde inferior en hover */
.form-control:hover {
    border-color: #4CAF50; /* Cambia el color de la línea inferior al pasar el ratón */
}

/* Estilo para la selección de texto dentro de los campos de formulario */
.form-control::selection {
    background-color: transparent; /* Color de fondo de la selección */
    color: white; /* Color del texto seleccionado */
}




/*============================================================ */

.cursor {
    cursor: pointer;
}

.animacion2 {
    width: 70%;
}

.usuario {
    width: 70%;
}

a {
    font-weight: bolder;
    color: gray;
    text-decoration: none;
}

a:hover {
    color: beige;
    text-decoration: none;
}

input:checked {
    background-color: gray!important;
}

input,
select {
    cursor: pointer;
}
/*estilo que permite mostrar los campos validados con un borde de color rojo*/

.error {
    border: red solid 1px;
}

.btninicio {
    color: black;
    background-color: gray !important;
    font-size: 20px;
    width: 100%;
}

#forgot-pass {
    font-weight: bold;
    text-align: end;
    font-size: 12px;
}

@media (max-width:575px) {
    .animacion1 {
        width: 80% !important;
        margin: 0 auto !important;
        display: block !important;
    }
    .animacion2 {
        width: 100% !important;
    }
}


/*=====================================Estilo para footer======================= */
footer {
    background-color: none;
    color: #f7f7f77e;
    text-align: center;
    padding-top: 14px;
    position: fixed; /* Cambia 'relative' a 'fixed' */
    bottom: 0;
    width: 100%;
}
/*=====================================Estilo para footer======================= */


