
.banner1 {
    background-image: url(../Reto4/img/porsche.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
}

p {
    text-align: justify;
}

.resultado {
    width: 500px;
    height: 250px;
    /*text-align: center;
    display: block;*/
}

.formato1 {
    font-size: 20px;
    text-align: left;
}
/*apariencia del control SELECT*/

select {
    color: black;
    background-color: beige;
    font-size: 20px;
    border: 2px solid black;
    padding: 8px 10px;
}
/*apariencia de los textos que estan dentro del SELECT*/

option {
    background-color: #e4e4e4;
    font-size: 20px;
    color: #000;
}

@media (max-width: 576px) {
    #resultado {
        /*por mostrar la imagen usando style backgroundImage se deben usar estas instrucciones*/
        background-position: center center !important;
        background-size: 80% !important;
        background-repeat: no-repeat !important;
    }
}



