
header {
    background-color: #781e38;
}

p {
    text-align: justify;
}

.cine-link {
    /* Estilos por defecto */
    color: #007bff; /* Color de texto */
    text-decoration: none; /* Eliminar subrayado predeterminado */
    transition: color 0.3s ease; /* Transición suave de color */

    /* Agregar márgenes o padding según sea necesario */
}

.cine-link:hover {
    /* Estilos al hacer hover */
    color: #0056b3; /* Cambio de color de texto al hacer hover */
    cursor: pointer; /* Cambio de cursor al hacer hover */
}

    

