.banner{
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el contenido verticalmente */
    height: 100vh; /* Establecer la altura al 100% de la altura de la ventana */
    margin: 0; /* Eliminar márgenes para evitar espacios innecesarios */
    overflow: hidden; /* Evitar desbordamiento del contenido */
    background-size: cover;
    background-position: center;
    background-image: url(../img/Bently.jpg);
    /*color del modo*/
    background-color: black;
    /*modo de color*/
    background-blend-mode: luminosity;
    /*profundidad*/
    box-shadow: inset 0 0 0  1000px  rgba(0, 0, 0, 0.6);
}

.espacio{
    padding: 120px 0;
}
/*=====================================linea======================= */
/* Estilos para el contenedor principal */
.container1 {
    text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilos para las líneas horizontales */
.linea {
    width: 100px; /* Ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: white; /* Color de la línea */
    display: inline-block; /* Hace que las líneas estén una al lado de la otra */
    margin: 0 15px; /* Espacio entre las líneas */
    vertical-align: middle; /* Alinea verticalmente con el símbolo */
}

/* Estilos para el símbolo de estrella */
.symbol {
    font-size: 24px; /* Tamaño de la fuente */
    color: white; /* Color del símbolo */
    vertical-align: middle; /* Alinea verticalmente con las líneas */
}


/*=====================================linea======================= */


h1{
    font-size: 60px;
}

h2{
    color: blanchedalmond;
    font-size: 60px;
}

/*=====================================Estilo para el botón======================= */
.btn-primary {
    position: relative;
    z-index: 1;
    background-color: transparent; /* Fondo transparente para el botón */
    border: none;
    
  }

.btn-primary:hover {
    background-color: blanchedalmond;; /* Cambia el fondo al pasar el mouse */
    color: #000; /* Cambia el color del texto al pasar el mouse */
  }
  
  .btn-primary::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px; /* Ajusta según la posición deseada de la línea */
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background-color: #fff; /* Color de la línea */
    z-index: -1;
  }
/*=====================================Estilo para el botón======================= */

/*=====================================Estilo para footer======================= */
footer {
    background-color: none;
    color: #f7f7f77e;
    text-align: center;
    padding-top: 14px;
    position: fixed; /* Cambia 'relative' a 'fixed' */
    bottom: 0;
    width: 100%;
}
/*=====================================Estilo para footer======================= */