

h3{
    letter-spacing: 2px;
    font-family: 'Hurricane', cursive;
    padding-top: 20px;
    font-size: 70px;
    color: rgb(77, 128, 107);
}
.encuesta{
    margin-top: 50px;
    margin-bottom: 60px;
}
.colorLabel{
    color: #575757;
    font-weight: bolder;
}
.checkbox{
    margin-left: 10px;
}
.inputs{
    padding: 20px;
} 
.checks{
    padding: 20px;
}
.radios{
    padding: 20px;
}
.botonEnviar{
    margin-top: 50px;
    text-align: center;
}
.boton{
    padding: 10px 30px;
    border: none;
    background-color: #919191;
    color: white;
    border-radius: 3px;
}

.boton:hover {
    color: black;
}
.Resultados{
    margin-top: 50px;
    text-align: center;
}
p{
    font-size: 17px;
}