
h1 {
    background-color:  #008cff;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    padding: 25px;
}

p {
    font-size: 20px;
}


/*botones*/

button {
    border: none;
    margin-left: 10px;
    padding: 12px 22px;
    border-radius: 100px;
    color: #fff;
}

#agregarBtn {
    border-radius: 50px;
}

#limpiarBtn {
    border-radius: 50px;
}


/*tabla*/

th {
    font-size: 18px;
    color: #000;
}

input {
    font-size: 20px;
}

input:hover {
    background-color: #e4e4e4;
    border: 2px solid #3a7aa5;
}

label {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    margin-right: 10px;
}
/*-------------------------------------------------------------------------------------*/

/*--------------------------------------Estilo para la factura-----------------------------------------------*/
#factura {
    display: none; /* Ocultar la factura inicialmente */
    border: 2px solid #3a7aa5;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 50px;
}

#factura.mostrar {
    display: block; /* Mostrar la factura cuando tenga la clase "mostrar" */
}




